DB_HOST=mpi-postgres
DB_PORT=5432
DB_NAME=mpi
DB_USER=postgres
DB_PASSWORD=postgres

PLUMBER_HOST=0.0.0.0
PLUMBER_PORT=3796
PLUMBER_FILE=/app/plumber.R

MODEL_DIR=/app/models
MODEL_FILE=xgb_ULTIMATE_best_model_space_filling_all_pred_notfm_20260420_015733.rds
RECIPE_FILE=xgboost_all_pred_notfm_recipe.rds
